<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<connectionStrings >
      <add name="myConnectionString" connectionString="Server=172.23.197.6\sql2008;Database=fast;User ID=sa;Password=PASSWORD@123;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    </connectionStrings>-->
  
  <connectionStrings>     
    <add name="myConnectionString" connectionString="Data Source=KARTHIK-PC;Initial Catalog=Smart;User ID=SA;Password=Password@123" providerName="System.Data.SqlClient" />
    <!--<add name="myConnectionString" connectionString="Data Source=SUMAN-PC;Initial Catalog=Smart;User ID=sa;Password=suman" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
